/* Fonts */

/* pt-sans-regular */
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: local("PT Sans"), local("PTSans-Regular"),
        url("../fonts/pt-sans-v12-latin_cyrillic-regular.woff2") format("woff2"),
        url("../fonts/pt-sans-v12-latin_cyrillic-regular.woff") format("woff");
}

/* pt-sans-700 */
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: local("PT Sans Bold"), local("PTSans-Bold"),
        url("../fonts/pt-sans-v12-latin_cyrillic-700.woff2") format("woff2"),
        url("../fonts/pt-sans-v12-latin_cyrillic-700.woff") format("woff");
}

/*Variables*/

:root {

  /* Main page colors */
    --basic-white: #ffffff;
    --basic-black: #000000;
    --basic-blue: #81b3d2;
    --basic-beige: #eeeeee;
    --text-beige: #333333;
    --main-logo-blue: #81b3d3;
    --button-blue: #81b3d2;
    --button-brown: #766357;
    --logo-brown: #231f20;
    --soft-back-gray: #f2f2f2;
    --modal-gray: #a9a9a9;
    --modal-shadow: rgba(0, 0, 0, 0.0001);
    --body-shadow: rgba(0, 0, 0, 0.25);

  /* Catalog additional colors */
    --soft-gray: #e5e5e5;
    --rate-text-gray: #666666;

  /* Conditions colors */
    --active-page: #766357;
    --checkbox-blocked: #6a6a6a;
    --ease-arrow: #cacaca;
    --basic-button-focus: #669ec0;
    --basic-button-active: #5496bd;
    --brown-button-focus: #604e43;
    --brown-button-active: #503e33;
    --back-gray-focus: #ebebeb;
    --logo-academy-active: #bdbbbc;
}


/* Global */

body {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    font-family: "PT Sans", "Arial", sans-serif;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-white);
    box-shadow: 0 4px 4px 0 var(--body-shadow);
}

.page {
    height: 100%;
    background-color: var(--soft-back-gray);
}

a {
    text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.full-wrapper {
    max-width: 1054px;
    margin: 0 auto;
}

.centered-wrapper {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.display-none {
    display: none;
}

.simple-text {
    padding: 0;
    margin: 0;
    color: var(--text-beige);
    line-height: 21px;
}

.position-relative {
    position: relative;
}


/* Header */

.main-logo-wrapper {
    position: absolute;
    left: 470px;
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-top: 65px solid var(--main-logo-blue);
}

.main-logo {
    position: absolute;
    left: 470px;
}

.main-nav ul {
    margin: 0;
    padding: 0 28px;
    list-style: none;
}

.main-nav a {
    display: block;
    padding: 15px 0;
    font-weight: 700;
    color: var(--basic-black);
}

.main-nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 138px;
}

.main-nav ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.right-nav {
    justify-items: right;
}

.header-text-wrapper {
    max-width: 1200px;
    min-height: 509px;
    background-color: var(--basic-black);
    background-image: url("../img/header-back.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.city-tagline {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 78px;
}

.tagline-gorgeous {
    padding-top: 11px;
}

.tagline-sedona {
    padding-top: 53px;
}

/* Main */

.profits-tagline {
    margin: 42px 0 20px 0;
    color: var(--basic-black);
    font-size: 21px;
    font-weight: 700;
}

.profit-tag {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
}

.profit-illustrated {
    color: var(--basic-white);
    background-color: var(--basic-blue);
}

.profit-illustrated .simple-text {
    color: var(--basic-white);
}

.profits-list {
    padding: 0;
    margin: 0;
    margin-top: 51px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    list-style: none;
}

.promo-list {
    padding: 0;
    margin: 0;
    list-style: none;
    grid-column: 1/4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--basic-white);
}

.profit-item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.profit-first {
    grid-column: 1/4;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.profit-first-wrapper {
    grid-column: 1/2;
    grid-row: 1/2;
}

.profit-first-pic {
    grid-column: 2/4;
    grid-row: 1/2;
}

.promo-item a {
    color: var(--basic-black);
}

.promo-item {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.profit-second {
    grid-column: 1/4;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.profit-second-pic {
    grid-column: 1/3;
}

.profit-second-wrapper {
    grid-column: 3/4;
}

.search-tagline {
  font-weight: 700;

}

.modal-show-button {
    width: 568px;
    padding: 30px;
    color: var(--basic-white);
    background-color: var(--button-brown);
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    border: none;
}

.modal-search {
    background-color: var(--basic-white);
    width: 568px;
    min-height: 395px;
    z-index: 2;
    font-weight: 700;
}

.modal-search-button {
    width: 458px;
    padding: 16px;
    color: var(--basic-white);
    background-color: var(--basic-blue);
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    border: none;
}

/* Footer */

.footer-bar {
    opacity: 90%;
}

.footer-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;

}

.footer-socials {
    list-style: none;
    display: inline-flex;

}

.social-wrapper {
    width: 46px;
    height: 46px;
    background-color: var(--basic-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-wrapper:not(:last-child) {
   margin-right: 6px;
}


/* Hotels page */

.filter-section {
    max-width: 1200px;
    min-height: 217px;
    background-color: var(--basic-black);
    background-image: url("../img/filter-back.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    color: var(--basic-white);
}

.filter-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 66px;
}

.fieldset-wrapper:first-of-type {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 119px;
}

.offers-filtering-list {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.filter-form fieldset {
    border: none;
}

.sorting-section {
    display: grid;
    grid-template-columns: 135px 1fr;
    column-gap: 30px;
    margin: 0;
}

/*
.sorting-section-list {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sorting-button {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: none;
    border: none;
    cursor: pointer;
}

*/

.arrow-sorting-icons {
    display: flex;
    min-width: 43px;
    margin-top: 2px;
    padding-right: 12px;
}

.arrow-sorting-up {
    width: 0;
    height: 0;
    margin-right: 21px;
    padding: 0;
    background: 0;
    border-top: 0;
    border-right: 7px solid transparent;
    border-bottom: 11px solid var(--ease-arrow);
    border-left: 7px solid transparent;
    outline: 0;
    cursor: pointer;
}

.arrow-sorting-down {
    width: 0;
    height: 0;
    padding: 0;
    background: 0;
    border-top: 11px solid var(--ease-arrow);
    border-right: 7px solid transparent;
    border-bottom: 0;
    border-left: 7px solid transparent;
    outline: 0;
    cursor: pointer;
}

.offers-filtering-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-rows: repeat(3, 1fr);

}

.offers-filtering-list li {
    margin: 0;
    padding: 30px 0;
    border-top: 2px solid var(--soft-gray);
}

.offers-filtering-list li:last-of-type {
    border-bottom: 2px solid var(--soft-gray);
}

.offers-filtering-item {
    display: grid;
    grid-template-columns: 135px 1fr 135px;
    column-gap: 30px;
}

.hotel-name {
    margin: 0;
    font-weight: 700;
    font-size: 21px;
}

.hotel-desc {
  max-width: 256px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 6px;
  padding-top: 7px;
}

.hotel-desc span {
  line-height: 21px;
  color: var(--text-beige);
  padding-bottom: 15px;
}

.hotel-desc-left {
  display: flex;
  flex-direction: column;
}

.hotel-desc-right {
  display: flex;
  flex-direction: column;
}

.basic-button {
   color: var(--basic-white);
   font-weight: 700;
   line-height: 21px;
}

.details-button {
    background-color: var(--basic-blue);
    min-width: 110px;
    padding: 3px;
    text-align: center;
}

.booking-button {
    background-color: var(--button-brown);
    min-width: 142px;
    padding: 3px;
    text-align: center;
}

.numeral-rate {
  min-width: 110px;
  background-color: var(--soft-back-gray);
  padding: 5px 15px;
  color: var(--rate-text-gray);
  line-height: 21px;
}

